<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head style="font-family: 'Century Gothic', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
  <meta name="viewport" content="width=device-width" style="font-family: 'Century Gothic', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" style="font-family: 'Century Gothic', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
  <title style="font-family: 'Century Gothic', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">Data Centre Site Induction - Email Invitation</title>
</head>

<body class="bg-white" style="-webkit-font-smoothing: antialiased; -webkit-text-size-adjust: none; background-color: #fff; font-family: 'Century Gothic', 'Helvetica', Helvetica, Arial, sans-serif; height: 100%; margin: 0; padding: 0; width: 100% !important;">
  <style>
    @media only screen and (max-width: 600px) {
      a[class="btn"] {
        display: block!important;
        margin-bottom: 10px!important;
        background-image: none!important;
        margin-right: 0!important;
      }
      div[class="column"] {
        width: auto!important;
        float: none!important;
      }
      table.social div[class="column"] {
        width: auto!important;
      }
    }
  </style>

  <!-- HEADER -->
  <div class="header bg-black" style="font-family: 'Century Gothic', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
    <table class="head-wrap container" style="clear: both !important; font-family: 'Century Gothic', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0 auto !important; max-width: 600px !important; padding: 0; width: 100%;">
      <tbody>
        <tr style="font-family: 'Century Gothic', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
          <td class="content" style="display: block; font-family: 'Century Gothic', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0 auto; max-width: 600px; padding: 15px;">
            <div class="text-center" style="font-family: 'Century Gothic', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0; text-align: center;">
              <img src="{logo}" style="font-family: 'Century Gothic', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; max-width: 100%; padding: 0;" />
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- /HEADER -->

  <!-- BODY -->
  <div class="bg-white" style="background-color: #fff; font-family: 'Century Gothic', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
    <table class="container" style="clear: both !important; font-family: 'Century Gothic', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0 auto !important; max-width: 600px !important; padding: 0;">
      <tbody>
        <tr style="font-family: 'Century Gothic', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0; padding: 0;">
          <td class="content" style="display: block; font-family: 'Century Gothic', 'Helvetica', Helvetica, Arial, sans-serif; margin: 0 auto; max-width: 600px; padding: 15px;">
            <h3 style="color: #000; font-family: 'Century Gothic', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 27px; font-weight: 500; line-height: 1.1; margin: 0; margin-bottom: 15px; padding: 0;">Hi {customer_firstname} {customer_lastname},</h3>
            <div class="message" style="font-family: 'Century Gothic', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; font-weight: normal; line-height: 1.6; margin: 0; margin-bottom: 10px; padding: 0; text-align: justify;">{invitation_message}</div>

            <p class="callout text-center" style="background-color: #ECF8FF; font-family: 'Century Gothic', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; font-weight: normal; line-height: 1.6; margin: 0; margin-bottom: 15px; padding: 15px; text-align: center;">
              <a href="{site_induction_link_url}" target="_blank" style="color: #2BA6CB; font-family: 'Century Gothic', 'Helvetica', Helvetica, Arial, sans-serif; font-weight: bold; margin: 0; padding: 0;">{site_induction_link_text}</a>
            </p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- /BODY -->

  <!-- FOOTER -->
  <!-- /FOOTER -->


</body>

</html>