.site-induction form table .form-control,
.site-induction .wp-editor-wrap {
  width: 35em;
}

.site-induction textarea.form-control {
  height: 100px;
}

.site-induction input.file-upload-url {
  width: 27em;
}

.date-time-heading {
  font-size: 14px;
  display: inline-block;
  line-height: 28px;
  margin-bottom: 10px;
}

#add-row-btn {
  margin-left: 10px;
}

.spacer {
  padding-right: 35px;
}

.hidden {
  display: none;
}

.site-induction .invitation-view-table tr .first-column {
  width: 15%;
  height: 20px;
}

.site-induction .booking-details {
  margin-top: 20px;
}

.site-induction .booking-details ul {
  padding-left: 180px;
}

.hide {
  display: none;
}

.form-floater {
  float: right;
}

/* Invitation View */
.invitation-view .title {
  width: 425px;
  position: relative
}

.invitation-view .title form {
  position: relative
}

.invitation-view .title .send-invitation {
  float: right;
  position: relative;
  top: 0;
  margin-top: 2px;
}