<tr style="width: 100%;">
  <td style="font-family: 'Century Gothic', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 16px; padding: 15px; width: 60%; border-right: 2px solid #000;">
    <p><strong>{intellicentre}</strong></h3>
    <p>{subcontent}</p>
  </td>
  <td style="font-family: 'Century Gothic', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 16px; padding: 15px; width: 60%;">
    <p class="appointment-time">
      <span class="fa fa-clock">
        <img src="{time_icon}" style=" max-width: 100%; padding: 0; margin-right: 3px; margin-bottom: -3px;" />
      </span> {time}
    </p>
    <p class="appointment-date">
      <span class="fa fa-calendar-alt">
        <img src="{calendar_icon}" style=" max-width: 100%; padding: 0; margin-right: 3px; margin-bottom: -3px;" />
      </span>
      <label>
        {date} <br/> <small style="margin-left: 28px;">{day}</small>
      </label>
    </p>
  </td>
</tr>
<tr style="width: 100%;">
  <td colspan="2" style="padding: 15px;">
    <hr style="border-top: 2px dotted #000;" />
  </td>
</tr>